.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    background-color: #fafafa;
  }
  
  .custom-card {
    width: 100%;
    max-width: 600px;
    margin: 20px 0;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  }
  
  .custom-card .ant-card-cover img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  